<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Text Sentiment Evaluator</title>
</head>

<body>

    <header>
        <div class="title">
            <h1>text sentiment evaluator</h1>
        </div>
    </header>

    <main>
        <section id="submitForm">
            <form id="form" >
                <textarea id="submission" type="text" name="input" value="" placeholder="Insert text here."></textarea>
                <input id="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
                <button id="return" onclick="return Client.updateLayout()">return</button>
            </form>
        </section>

        <section id="results">
            <p id="results-heading">results</p>
            <div id="categories">
                <div>
                    <h2>Subjectivity</h2>
                    <p class="category" id="subjectivity"></p>
                </div>

                <div>
                    <h2>Agreement</h2>
                    <p class="category" id="agreement"></p>
                </div>
            </div>
            <div>
                <h2 id="polarity-heading">Polarity Analysis</h2>
                <div class="legend">
                    <div class="item">
                        <div class="color strongPos"></div>
                        <div class="name">Strong Positive</div>
                    </div>
                    <div class="item">
                        <div class="color pos"></div>
                        <div class="name">Positive</div>
                    </div>
                    <div class="item">
                        <div class="color neu"></div>
                        <div class="name">Neutral</div>
                    </div>
                    <div class="item">
                        <div class="color neg"></div>
                        <div class="name">Negative</div>
                    </div>
                    <div class="item">
                        <div class="color strongNeg"></div>
                        <div class="name">Strong Negative</div>
                    </div>
                </div>
                <p id="submittedText"></p>
            </div>
        </section>
    </main>

</body>

</html>