@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300;400&family=Yeseva+One&display=swap');

$primary-font: 'Yeseva One', serif;
$main-font: 'Merriweather Sans', sans-serif;
$heading-font: 'Merriweather', serif;

form {
    border: 4px solid #37424A;
    border-radius: 3px;
    padding: 40px;
    background-color: #F2D653;
}

#form {
    height: 363px;
    transition: height 100ms linear;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    background-color: #F2D653;
    color: #37424A;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;    
    border: 2px solid #37424A;
    transition: background-color 150ms ease-in;

    &:hover {
        background-color: #f1e091;
    }
}

textarea {
    padding: 15px 15px;
    width: 100%;
    height: 200px;
    line-height: 16px;
    margin: 10px 0;
    font-family: $main-font;
    background-color: #37424A;
    color: white;

    
}

::placeholder {
    color: #d3d3d3;
}
